@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Experience IT</h1>
    <p class="lead">Experience IT is a Life-changing Opportunity.It partnership between leading technology companies, workforce agencies and educational institutions - working together to teach, train and prepare the next generation of technology professionals in Detroit.    <p>
        <a href="https://experienceitdetroit.com
" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            A New Kind of Experience. All applicants will be contacted to complete an assessment once we are ready to start screening for candidates. Qualified students will be requested to attend an interview with members of the ExperienceIT staff. Once all interviews have been completed, notifications will be emailed to all students advising them of their acceptance to ExperienceIT.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/ExperienceITDetroit">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About us</h2>
        <p>we're leadership development company. We lay the cultural tracks to accelerate your transformation.
<p><a class="btn btn-default" href="https://experienceitdetroit.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Apply Now</h2>
        <p> ExperienceIT is a FREE training program. Students of the program will experience intensive IT and soft skills training that prepare them for the workplace and networking opportunities with C-level executives and top industry professionals. 
        <p><a class="btn btn-default" href="https://www.linkedin.com/company/experienceitdetroit">Learn more &raquo;</a></p>
    </div>
</div>